
@{
    ViewBag.Title = "Index";
    <link href="~/Styles/buttons.css" rel="stylesheet" />

}
<ul id="buttons">
    <li>@Html.ActionLink("Registration", "Register", "Admin")</li>
    <li>@Html.ActionLink("Hospital ", "Hospitals", "Admin")</li>
    <li>@Html.ActionLink("Add New Doctor ", "Create", "Doctors")</li>
</ul>