@{
    ViewBag.Title = "Home Page";
    <link href="~/Styles/HomeSheet.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Covid-19 Healthcare</h1>
    <p class="lead">The ultimate portal for you and for your loved ones. Help us win this war against Covid-19</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why vaccinate?</h2>
        <p>
            With the help of world leading scientists both in India and the rest of the world, technological progress has created vaccines that can help you overcome the pandamic!
        </p>
        <p><a class="btn btn-default" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/vaccine-benefits.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help us save humanity</h2>
        <p>With the help of a small development team, we created this portal with the vision to help our customers get the proper treatment that they deserve</p>
        <p><a class="btn btn-default button" href="/Accounts/Login">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vaccination Portal</h2>
        <p>We at Covid Healthcare system, strive towards our commitment to keep you safe and help you get vaccinated. Register now in the link given below. </p>
        <p><a class="btn btn-default button" href="/Customers/Create">Click Here &raquo;</a></p>
    </div>
</div>