
@{
    ViewBag.Title = "Index";
    <link href="~/Styles/buttons.css" rel="stylesheet" />

}
<ul id="buttons">
    <li>@Html.ActionLink("Register", "Create", "Customers")</li>

    <li>@Html.ActionLink("Hospital Registration", "Create", "Hospitals")</li>
</ul>



